@font-face {
    font-family: "poppins-elight";
    font-display: swap;
    src: url("/src/assets/fonts/Poppins-ExtraLight.ttf");
};
  
@font-face {
    font-family: "poppins-regular";
    font-display: swap;
    src: url("/src/assets/fonts/Poppins-Regular.ttf");
};
  
@font-face {
    font-family: "poppins-medium";
    font-display: swap;
    src: url("/src/assets/fonts/Poppins-Medium.ttf");
}
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}