
$violet_color: #BC54FC;
$grey_color: #e4e4e7;
$dark_grey: #a3a3a7;
$sidebar_grey: #F4FCF6;
$active_green: #28B76B;

$carousel_color: #985AA9;
$header_color: #181720;
$white_color: #C3C2C5;
$footer_color: #e4e4e7