.header{
    padding:.8rem 1.2rem;
    display: flex;
    align-items: center;
    gap:1rem;
    background-color: #000;
    z-index:10;
    position:sticky;
    top:0;
    left:0;
    width:100%;
    z-index:11;
    
    span{
        font-size: 1.4rem;
        letter-spacing: 1px;
        font-weight: bold;
        color:#fff;
    }

    .toggleIcons{
        cursor: pointer;
    }

    .closeMenu{
        display: none;
    }
    
    .logoContainer{
        display: flex;
        align-items: center;
        gap:1rem;
        user-select: none;
        cursor: pointer;
    }

    @media screen and (min-width:767px) {
        .toggleIcons {
            display: none;
        }
    }
}